@use '@angular/material' as mat;
@use '../../../scss/sb-colors';

section {
  @include mat.elevation(2);

  height: 40px;
  padding: 8px;

  text-align: right;

  background: sb-colors.$sb-sanhei-blue;

  @media print {
    display: none;
  }
}

mat-spinner {
  position: absolute;
  right: 5px;

  width: 40px !important;
  height: 40px !important;
}
