@use '@angular/material' as mat;
@import '../../../scss/sb-theme';

section {
  @include mat.elevation(2);

  height: 40px;
  padding: 8px;

  text-align: right;

  background: mat.get-color-from-palette($sb-app-primary);

  @media print {
    display: none;
  }
}

mat-spinner {
  position: absolute;
  right: 5px;

  width: 40px !important;
  height: 40px !important;
}
