mat-card {
  margin-bottom: 20px;
  padding: 15px 15px 0 15px;
}

mat-form-field {
  width: 100%;
}

form {
  margin-bottom: 15px;
}

.abort-button {
  margin-left: 10px;
}

.floating-save-button {
  position: fixed;
  right: 30px;
  bottom: 10px;
}

mat-card.numbers {
  display: grid;
  grid-gap: 5px;

  @media (min-width: 350px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 700px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
