mat-card {
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

form {
  margin-bottom: 15px;
}

.abort-button {
  margin-left: 10px;
}

.floating-save-button {
  position: fixed;
  right: 30px;
  bottom: 10px;
}
