$sb-sanhei-blue: #0a79ba; // primary
$sb-sanhei-red: #e5352d; // secondary
$sb-sanhei-purple: #9575cd; // tertiary
$sb-error: #ffd54f; // error
$sb-neutral: #ffffff; // neutral
$sb-neutral-variant: #d9dde5; // neutral variant
