<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Rechnungsnummer und Beschreibung</th>
      <th>Aktion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bill of bills | async" id="bill_{{bill.id}}">
      <td>{{ bill.id }}</td>
      <td>
        <strong>{{bill.uid}}</strong> {{ bill.address1 }}, {{ bill.address2 }}, {{ bill.title1 }}, {{ bill.title2 }}
      </td>
      <td>
        <!--
        <a href="/bills/6335/copy" onclick="return confirm('Wirklich kopieren?');"><img alt="Copy" src="/images/icons/copy.png?1279730041"></a>
        <a href="#" onclick="new Ajax.Request('/bills/6335/pay', {asynchronous:true, evalScripts:true, method:'get', parameters:'authenticity_token=' + encodeURIComponent('fEwn9EuHXUpE9jkY++/FZKeV89QF0VFG+HFoMSz21f0=')}); return false;"><img alt="Money" src="/images/icons/money.gif?1279730041"></a>
        <a href="/bills/6335/finish" onclick="return confirm('Fertig bearbeitet?');"><img alt="Locked" src="/images/icons/locked.png?1279730041"></a>
        <a href="/bills/6335"><img alt="View" src="/images/icons/view.gif?1279730041"></a>
        <a href="/bills/6335/edit"><img alt="Edit" src="/images/icons/edit.gif?1279730041"></a>
        <a href="/bills/6335" onclick="if (confirm('Wirklich löschen?')) { var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'delete'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'fEwn9EuHXUpE9jkY++/FZKeV89QF0VFG+HFoMSz21f0='); f.appendChild(s);f.submit(); };return false;"><img alt="Delete" src="/images/icons/delete.png?1279730041"></a>-->
      </td>
    </tr>
  </tbody>
</table>
