<h1>Bills</h1>

<md-input-container>
  <input mdInput placeholder="Search" #searchTerm (keyup)="searchKeyup(searchTerm.value)">
</md-input-container>

<md-progress-bar *ngIf="loadStatus === 'loading'" mode="query" color="accent"></md-progress-bar>
<md-progress-bar *ngIf="loadStatus === 'loadedFromIDB' || loadStatus === 'shortListLoaded'" mode="indeterminate" color="accent"></md-progress-bar>

<md-list>
  <md-list-item *ngFor="let bill of bills$ | async" (click)="editBill(bill)">
    <div md-line><strong><a [routerLink]="bill.id">{{bill.uid}} | {{ bill.id }}</a></strong></div>
    <div md-line>{{ bill.commaSeparatedAddress }}</div>
    <div md-line>{{ bill.title1 }}, {{ bill.title2 }}</div>
    <div md-line *ngIf="bill.fixedAt">Arbeiten am: {{ bill.fixedAt | date:'yyyy-MM-dd' }} | {{ bill.billedAt | date:'mediumDate' }}</div>
    <div md-line *ngIf="bill.billedAt">Verrechnet am: {{ bill.billedAt | date:'yyyy-MM-dd' }} | {{ bill.billedAt | date:'mediumDate' }}</div>
    <div md-line>{{ bill.ownerName }}, {{ bill.ordererName }}, {{ bill.worker }}</div>
  </md-list-item>
</md-list>
