mat-progress-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  background: #fff;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

mat-card {
  margin-bottom: 20px;
}

.bill {
  mat-card-title,
  mat-card-subtitle,
  mat-card-content {
    cursor: pointer;
  }

  mat-card-actions {
    position: absolute;
    top: 0;
    right: 27px;
  }
}

.load-more {
  // setting the min-height avoids flickering when the next section
  min-height: 45px;
  button {
    width: 100%;
  }
}

.floating-create-button {
  position: fixed;
  right: 30px;
  bottom: 10px;
}
