md-progress-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  background: #fff;
}

md-form-field {
  width: 100%;
  margin-bottom: 10px;
}

md-card {
  margin-bottom: 20px;
}

.bill {
  cursor: pointer;
}

.load-more {
  // setting the min-height avoids flickering when the next section
  min-height: 45px;
  button {
    width: 100%;
  }
}
